<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Laksana_CollegeConnectionString"
            connectionString="Data Source=182.50.133.110;Initial Catalog=Laksana_College_UG;User ID=Laksana_College_UG;Password=Laksana_College_UG999$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>